<!-- File: services.ejs -->
<!-- Student: Chun Hin Yim -->
<!-- StudentID: 301255702 -->
<!-- Date: 3.6.2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-7">My <%= title %></h1> <br>
    <div>I could provide general programing services, website development and database management. <br>
    <br>
    My skills include but not limited to <br><br>
    <i class="fa-brands fa-html5"></i> HTML<br><i class="fa-brands fa-css3-alt"></i> CSS<br>
    <i class="fa-brands fa-square-js"></i> JavaScript<br> <i class="fa-brands fa-node-js"></i> NodeJS<br><i class="fas fa-database"></i> Oracle SQL<br>
    <i class="fab fa-java"></i> Java <br> <i class="fa-solid fa-c"></i> C# <br><i class="fab fa-python"></i> Python
    <br><br>
    Feel free to contact me by filling out the <a href="/contact">contact form</a>!
    </div>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>





